<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Portfolio - Register</title>

<link href="{{ MEDIA_URL }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ MEDIA_URL }}css/styles.css" rel="stylesheet">

<link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.css"/>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/formValidation.css"/>

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/formValidation.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/framework/bootstrap.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#submit').click(function(){
            var uname = $('input[name=username]').val();
            var email = $('input[name=email]').val();
            var passwd = $('input[name=password').val();
            var fname = $('input[name=firstName').val();
            var lname = $('input[name=lastName').val();
            $.ajax({
                type: "POST",
                cache: false,
                url: '{% url register %}',
                data: {
                    'uname': uname,
                    'email': email,
                    'passwd': passwd,
                    'fname': fname,
                    'lname': lname,
                    'csrfmiddlewaretoken':'{{csrf_token}}'},
                success:function(response){
                    if (response.val == false){
                        alert(response.alert);

                    } else {
                        alert(response.alert);
                        window.location = '{% url login %}'
                    }
                }
            });
        });
    });
</script>


</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="page-header">
                    <h2>Register Your Account</h2>
                </div>

                <form id="defaultForm" class="form-horizontal">
                    <div class="panel-group" id="steps">
                        <!-- Step 1 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#steps" href="#stepOne">Account</a></h4>
                            </div>
                            <div id="stepOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Username</label>
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" name="username" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Email address</label>
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" name="email" value=""/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Password</label>
                                        <div class="col-lg-5">
                                            <input type="password" class="form-control" name="password" value="" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Retype password</label>
                                        <div class="col-lg-5">
                                            <input type="password" class="form-control" name="confirmPassword" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Step 2 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#steps" href="#stepTwo">Personal</a></h4>
                            </div>
                            <div id="stepTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Full name</label>
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" name="firstName" placeholder="First name" />
                                        </div>
                                        <div class="col-lg-4">
                                            <input type="text" class="form-control" name="lastName" placeholder="Last name" />
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-lg-9 col-lg-offset-3">
                                            <input type="submit" id="submit" class="btn btn-primary" name="signup" value="Sign up" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script type="text/javascript">
$(document).ready(function() {
    $('#defaultForm').formValidation({
        message: 'This value is not valid',
        excluded: ':disabled',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            firstName: {
                validators: {
                    notEmpty: {
                        message: 'The first name is required and cannot be empty'
                    },
                    stringCase: {
                        message: 'The first name must contain upper case characters only',
                        case: 'upper'
                    },
                    regexp: {
                        regexp: /^[A-Z\s]+$/i,
                        message: 'The first name can only consist of alphabetical characters and spaces'
                    }
                }
            },
            lastName: {
                validators: {
                    notEmpty: {
                        message: 'The last name is required and cannot be empty'
                    },
                    stringCase: {
                        message: 'The last name must contain upper case characters only',
                        case: 'upper'
                    },
                    regexp: {
                        regexp: /^[A-Z\s]+$/i,
                        message: 'The last name can only consist of alphabetical characters and spaces'
                    }
                }
            },
            username: {
                message: 'The username is not valid',
                validators: {
                    notEmpty: {
                        message: 'The username is required and cannot be empty'
                    },
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: 'The username must be more than 6 and less than 30 characters long'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_\.]+$/,
                        message: 'The username can only consist of alphabetical, number, dot and underscore'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'Email address is required and cannot be empty'
                    },
                    regexp: {
                        regexp: /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                        message: 'The input is not a valid format email address'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: 'The password is required and can\'t be empty'
                    },
                    different: {
                        field: 'username',
                        message: 'The password cannot be the same as username'
                    },
                    regexp: {
                        regexp: /^(?=.*[a-zA-Z])(?=.*\d).{8,16}$/,
                        message: 'The passwords first character must be a letter, it must contain at least 8 characters and include at least one numeric digit'
                    }
                }
            },
            confirmPassword: {
                validators: {
                    notEmpty: {
                        message: 'The confirm password is required and can\'t be empty'
                    },
                    identical: {
                        field: 'password',
                        message: 'The password and its confirm are not the same'
                    }
                }
            },
            gender: {
                validators: {
                    notEmpty: {
                        message: 'The gender is required'
                    }
                }
            }
        }
    }).on('err.form.fv', function(e) {
        console.log('error');

        // Active the panel element containing the first invalid element
        var $form         = $(e.target),
            validator     = $form.data('formValidation'),
            $invalidField = validator.getInvalidFields().eq(0),
            $collapse     = $invalidField.parents('.collapse');

        $collapse.collapse('show');
    });
});
</script>
</body>
</html>
